.spotify-button {
  color: #f0f0f0 !important;
  background-color: #1db954 !important;
  border: none !important;
  border-radius: 30px !important;
  padding: 10px 30px !important;
  font-weight: 700 !important;
  letter-spacing: 2px !important;
}